USE [master]
GO
/****** Object:  Database [AgroControl]    Script Date: 06.05.2026 14:35:40 ******/
CREATE DATABASE [AgroControl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgroControl', FILENAME = N'C:\Users\Администратор\Desktop\MSSQL17.SQLEXPRESS\MSSQL\DATA\AgroControl.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgroControl_log', FILENAME = N'C:\Users\Администратор\Desktop\MSSQL17.SQLEXPRESS\MSSQL\DATA\AgroControl_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroControl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroControl]
GO
/****** Object:  Table [dbo].[BatchMaterials]    Script Date: 06.05.2026 14:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchMaterials](
	[usage_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[raw_batch_id] [int] NOT NULL,
	[quantity_used] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BatchSteps]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchSteps](
	[execution_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[step_id] [int] NOT NULL,
	[actual_value] [nvarchar](100) NULL,
	[started_by] [int] NULL,
	[started_at] [datetime] NULL,
	[completed_by] [int] NULL,
	[completed_at] [datetime] NULL,
	[is_completed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[execution_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deviations]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deviations](
	[deviation_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[step_execution_id] [int] NULL,
	[description] [nvarchar](500) NOT NULL,
	[severity] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[deviation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_name] [nvarchar](100) NOT NULL,
	[line] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabTests]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTests](
	[test_id] [int] IDENTITY(1,1) NOT NULL,
	[test_number] [nvarchar](30) NOT NULL,
	[target_type] [nvarchar](20) NOT NULL,
	[target_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[decision] [nvarchar](20) NULL,
	[decision_comment] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionBatches]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionBatches](
	[batch_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [nvarchar](30) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[lab_decision] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionOrders]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionOrders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](30) NOT NULL,
	[product_id] [int] NOT NULL,
	[planned_quantity] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[techcard_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [nvarchar](20) NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[product_type] [nvarchar](50) NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawBatches]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawBatches](
	[raw_batch_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [nvarchar](30) NOT NULL,
	[material_id] [int] NOT NULL,
	[supplier] [nvarchar](100) NULL,
	[quantity] [decimal](18, 2) NOT NULL,
	[receipt_date] [date] NOT NULL,
	[lab_status] [nvarchar](20) NOT NULL,
	[lab_comment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[raw_batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawMaterials]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterials](
	[material_id] [int] IDENTITY(1,1) NOT NULL,
	[material_code] [nvarchar](20) NOT NULL,
	[material_name] [nvarchar](100) NOT NULL,
	[unit] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeComponents]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeComponents](
	[component_id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[material_id] [int] NOT NULL,
	[percentage] [decimal](10, 2) NOT NULL,
	[load_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[recipe_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[recipe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechCards]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechCards](
	[techcard_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[techcard_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechSteps]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechSteps](
	[step_id] [int] IDENTITY(1,1) NOT NULL,
	[techcard_id] [int] NOT NULL,
	[step_number] [int] NOT NULL,
	[step_name] [nvarchar](100) NOT NULL,
	[equipment_id] [int] NULL,
	[planned_value] [nvarchar](100) NULL,
	[tolerance_min] [nvarchar](50) NULL,
	[tolerance_max] [nvarchar](50) NULL,
	[instruction] [nvarchar](500) NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[step_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestParameters]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestParameters](
	[param_id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NOT NULL,
	[param_name] [nvarchar](100) NOT NULL,
	[standard_min] [nvarchar](50) NULL,
	[standard_max] [nvarchar](50) NULL,
	[actual_value] [nvarchar](100) NULL,
	[is_ok] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[param_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.05.2026 14:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[role] [nvarchar](30) NOT NULL,
	[department] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LabTests__D7F6F693D5A6D693]    Script Date: 06.05.2026 14:35:44 ******/
ALTER TABLE [dbo].[LabTests] ADD UNIQUE NONCLUSTERED 
(
	[test_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producti__56E37837DC39DB90]    Script Date: 06.05.2026 14:35:44 ******/
ALTER TABLE [dbo].[ProductionBatches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producti__730E34DF8E349D2F]    Script Date: 06.05.2026 14:35:44 ******/
ALTER TABLE [dbo].[ProductionOrders] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__AE1A8CC450004BC0]    Script Date: 06.05.2026 14:35:44 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RawBatch__56E37837E9FC9FFE]    Script Date: 06.05.2026 14:35:44 ******/
ALTER TABLE [dbo].[RawBatches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RawMater__047B7CDBD6A59ECB]    Script Date: 06.05.2026 14:35:44 ******/
ALTER TABLE [dbo].[RawMaterials] ADD UNIQUE NONCLUSTERED 
(
	[material_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Recipe_Product_Version]    Script Date: 06.05.2026 14:35:44 ******/
ALTER TABLE [dbo].[Recipes] ADD  CONSTRAINT [UQ_Recipe_Product_Version] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TechCard_Product_Version]    Script Date: 06.05.2026 14:35:44 ******/
ALTER TABLE [dbo].[TechCards] ADD  CONSTRAINT [UQ_TechCard_Product_Version] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572609D9AC3]    Script Date: 06.05.2026 14:35:44 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BatchSteps] ADD  DEFAULT ((0)) FOR [is_completed]
GO
ALTER TABLE [dbo].[Deviations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[LabTests] ADD  DEFAULT ('in_progress') FOR [status]
GO
ALTER TABLE [dbo].[LabTests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ProductionBatches] ADD  DEFAULT ('created') FOR [status]
GO
ALTER TABLE [dbo].[ProductionOrders] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[ProductionOrders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[RawBatches] ADD  DEFAULT ('pending') FOR [lab_status]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TechCards] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[TechCards] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[TechCards] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BatchMaterials]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[ProductionBatches] ([batch_id])
GO
ALTER TABLE [dbo].[BatchMaterials]  WITH CHECK ADD FOREIGN KEY([raw_batch_id])
REFERENCES [dbo].[RawBatches] ([raw_batch_id])
GO
ALTER TABLE [dbo].[BatchSteps]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[ProductionBatches] ([batch_id])
GO
ALTER TABLE [dbo].[BatchSteps]  WITH CHECK ADD FOREIGN KEY([completed_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[BatchSteps]  WITH CHECK ADD FOREIGN KEY([started_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[BatchSteps]  WITH CHECK ADD FOREIGN KEY([step_id])
REFERENCES [dbo].[TechSteps] ([step_id])
GO
ALTER TABLE [dbo].[Deviations]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[ProductionBatches] ([batch_id])
GO
ALTER TABLE [dbo].[Deviations]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Deviations]  WITH CHECK ADD FOREIGN KEY([step_execution_id])
REFERENCES [dbo].[BatchSteps] ([execution_id])
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[ProductionOrders] ([order_id])
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[Recipes] ([recipe_id])
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD FOREIGN KEY([techcard_id])
REFERENCES [dbo].[TechCards] ([techcard_id])
GO
ALTER TABLE [dbo].[RawBatches]  WITH CHECK ADD FOREIGN KEY([material_id])
REFERENCES [dbo].[RawMaterials] ([material_id])
GO
ALTER TABLE [dbo].[RecipeComponents]  WITH CHECK ADD FOREIGN KEY([material_id])
REFERENCES [dbo].[RawMaterials] ([material_id])
GO
ALTER TABLE [dbo].[RecipeComponents]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[Recipes] ([recipe_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Products]
GO
ALTER TABLE [dbo].[TechCards]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[TechSteps]  WITH CHECK ADD FOREIGN KEY([equipment_id])
REFERENCES [dbo].[Equipment] ([equipment_id])
GO
ALTER TABLE [dbo].[TechSteps]  WITH CHECK ADD FOREIGN KEY([techcard_id])
REFERENCES [dbo].[TechCards] ([techcard_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestParameters]  WITH CHECK ADD FOREIGN KEY([test_id])
REFERENCES [dbo].[LabTests] ([test_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deviations]  WITH CHECK ADD CHECK  (([severity]='critical' OR [severity]='warning'))
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD CHECK  (([decision]='blocked' OR [decision]='approved'))
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD CHECK  (([status]='completed' OR [status]='in_progress'))
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD CHECK  (([target_type]='product' OR [target_type]='raw'))
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD CHECK  (([lab_decision]='pending' OR [lab_decision]='blocked' OR [lab_decision]='approved'))
GO
ALTER TABLE [dbo].[ProductionBatches]  WITH CHECK ADD CHECK  (([status]='blocked' OR [status]='completed' OR [status]='in_progress' OR [status]='created'))
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD CHECK  (([status]='completed' OR [status]='in_progress' OR [status]='planned'))
GO
ALTER TABLE [dbo].[RawBatches]  WITH CHECK ADD CHECK  (([lab_status]='blocked' OR [lab_status]='approved' OR [lab_status]='pending'))
GO
ALTER TABLE [dbo].[RecipeComponents]  WITH CHECK ADD CHECK  (([percentage]>(0)))
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='approved' OR [status]='draft'))
GO
ALTER TABLE [dbo].[TechCards]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='approved' OR [status]='draft'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='laboratory' OR [role]='operator' OR [role]='technologist'))
GO
/****** Object:  Trigger [dbo].[trg_OneActiveRecipe]    Script Date: 06.05.2026 14:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_OneActiveRecipe]
ON [dbo].[Recipes]
AFTER UPDATE, INSERT
AS
BEGIN
    IF EXISTS (
        SELECT product_id
        FROM Recipes
        WHERE is_active = 1
        GROUP BY product_id
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('У продукта может быть только одна активная рецептура', 16, 1);
        ROLLBACK;
    END
END;

-- Ограничение 3: Только одна активная техкарта на продукт
GO
ALTER TABLE [dbo].[Recipes] ENABLE TRIGGER [trg_OneActiveRecipe]
GO
/****** Object:  Trigger [dbo].[trg_OneActiveTechCard]    Script Date: 06.05.2026 14:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_OneActiveTechCard]
ON [dbo].[TechCards]
AFTER UPDATE, INSERT
AS
BEGIN
    IF EXISTS (
        SELECT product_id
        FROM TechCards
        WHERE is_active = 1
        GROUP BY product_id
        HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR('У продукта может быть только одна активная техкарта', 16, 1);
        ROLLBACK;
    END
END;

-- =============================================
-- 10. ТЕСТОВЫЕ ДАННЫЕ
-- =============================================

-- Пользователи
INSERT INTO Users (username, password_hash, full_name, role, department) VALUES
('tech.ivanov', 'hash123', 'Иванов Иван', 'technologist', 'Техотдел'),
('operator.petrov', 'hash123', 'Петров Сергей', 'operator', 'Цех №1'),
('lab.vasilieva', 'hash123', 'Васильева Елена', 'laboratory', 'Лаборатория');

-- Продукция
INSERT INTO Products (product_code, product_name, product_type) VALUES
('P-001', 'Гербицид "Агро"', 'гербицид'),
('P-002', 'Инсектицид "Защита"', 'инсектицид');

-- Сырьё
INSERT INTO RawMaterials (material_code, material_name, unit) VALUES
('RM-001', 'Активное вещество А', 'кг'),
('RM-002', 'Растворитель', 'л'),
('RM-003', 'Эмульгатор', 'кг');

-- Оборудование
INSERT INTO Equipment (equipment_name, line) VALUES
('Экструдер', 'Линия 1'),
('Смеситель', 'Линия 1');

-- Рецептура 1 (утверждённая, активная)
INSERT INTO Recipes (product_id, version, status, is_active) VALUES
(1, 1, 'approved', 1);

INSERT INTO RecipeComponents (recipe_id, material_id, percentage, load_order) VALUES
(1, 1, 50.0, 1),
(1, 2, 30.0, 2),
(1, 3, 20.0, 3);

-- Рецептура 2 (черновик)
INSERT INTO Recipes (product_id, version, status) VALUES
(1, 2, 'draft');

-- Техкарта
INSERT INTO TechCards (product_id, version, status, is_active) VALUES
(1, 1, 'approved', 1);

INSERT INTO TechSteps (techcard_id, step_number, step_name, equipment_id, planned_value, tolerance_min, tolerance_max, instruction, sort_order) VALUES
(1, 1, 'Смешивание', 2, '1500 об/мин', '1450', '1550', 'Смешать компоненты в течение 10 мин', 1),
(1, 2, 'Экструзия', 1, '220°C', '210', '230', 'Контроль температуры', 2),
(1, 3, 'Грануляция', NULL, '40°C', '35', '45', 'Охлаждение до 40°C', 3);

-- Партии сырья
INSERT INTO RawBatches (batch_number, material_id, supplier, quantity, receipt_date, lab_status) VALUES
('RAW-001', 1, 'ХимПром', 1000, '2026-03-15', 'approved'),
('RAW-002', 2, 'Сольвент', 500, '2026-03-20', 'pending');

-- Производственный заказ
INSERT INTO ProductionOrders (order_number, product_id, planned_quantity, recipe_id, techcard_id) VALUES
('PO-001', 1, 100, 1, 1);

-- Производственная партия
INSERT INTO ProductionBatches (batch_number, order_id, product_id, status, start_time) VALUES
('BATCH-001', 1, 1, 'in_progress', GETDATE());

-- Использование сырья
INSERT INTO BatchMaterials (batch_id, raw_batch_id, quantity_used) VALUES
(1, 1, 50);

-- Шаги партии
INSERT INTO BatchSteps (batch_id, step_id, started_by, started_at, is_completed) VALUES
(1, 1, 2, GETDATE(), 0),
(1, 2, 2, NULL, 0),
(1, 3, 2, NULL, 0);

-- Отклонение
INSERT INTO Deviations (batch_id, step_execution_id, description, severity, created_by) VALUES
(1, 1, 'Превышение температуры зоны 2', 'warning', 2);

-- Лабораторное испытание
INSERT INTO LabTests (test_number, target_type, target_id, status, decision) VALUES
('LAB-001', 'raw', 1, 'completed', 'approved');

INSERT INTO TestParameters (test_id, param_name, standard_min, standard_max, actual_value, is_ok) VALUES
(1, 'Массовая доля', '49', '51', '50.2', 1),
(1, 'Влажность', '0', '5', '2.3', 1);

PRINT 'База данных AgroControl успешно создана!';
GO
ALTER TABLE [dbo].[TechCards] ENABLE TRIGGER [trg_OneActiveTechCard]
GO
USE [master]
GO
